<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="../node_modules/dragula/dist/dragula.css">
    <link rel="stylesheet" href="../static/styles/electron-tabs.css">
    <link rel="stylesheet" href="../static/styles/mytab.css">

    
</head>

<body style="background-color: #1e1e1e" id="drag">
    <div class="etabs-tabgroup">
        <div class="etabs-tabs"></div>
        <div class="etabs-buttons"></div>
    </div>
    <div class="etabs-views"></div>
    <!-- 调用页面控制器 -->
    <script>require('../app/controllers/index.js');</script>
</body>

</html>